html{
    font-size: 62.5%;
    /* La siguiente linea evita el uso del modelo caja */
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: 'Poppins', sans-serif;
    position: relative;
    /* font-size: 16px; */
}

h1, h2, h3{
    font-weight: 400;
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2rem;
}

p{
    font-weight: 200;
    font-size: 2.2rem;
}

a{
    text-decoration: none;
    font-size: 1.8rem;
    color: black;
}

img{
    width: 50%;
    border-radius: 50%;
}

label{
    font-size: 1.5rem;
}

/* Animaciones */
@keyframes desvanecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fromTop {
    0%{
        top: 0;
    }
    100%{
        top: 10rem;
    }
}

.btn{
    border: none;
    background-color: transparent;
    padding: 2rem;
    font-size: 1.6rem;
    border-radius: 1rem;
}

.btn:hover{
    cursor: pointer;
}

.btn-success{
    background-color: #7FC7D9;
    transition: background-color .5s ease, color .5s ease;
}

.btn-success:hover{
    background-color: #3c6b77;
    color: white;
}

.btn-error{
    background-color: red;
}

/* Componentes principales de la página */
.header{
    background-color: #280274;
    padding: 2.5rem 0;
    position: sticky;
    top: 0;
    z-index: 100000;
}

.header-title{
    color: white;
}

.header-title h5{
    font-size: 2rem;
    font-weight: 200;
    padding: 0 2rem;
}

.header-navs{

}

.header-navs a{
    color: white;
}

.btnPaleta{
    z-index: 999;
    animation: desvanecer .2s ease-in-out;
}

/* Colores */
.bg-main{
    background-color: #030637;
}

.bg-secondary{
    background-color: #3C0753;
}

.bg-tertiary{
    background-color: #720455;
}

/* Utilidades generales */

.padd-2{
    padding: 2rem;
}

.pl-2{
    padding-left: 2rem;
}

.pr-2{
    padding-right: 2rem;
}

.mar-2{
    margin: 2rem;
}

.mt-2{
    margin-top: 2rem;
}

.flex{
    display: flex;
    width: 100%;
}

.f-1{
    flex: 1;
}

.f-2{
    flex: 2;
}

.flex-row{
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 768px){
    .flex-row{
        flex-direction: row;
    }
}

.flex-row.cancel-responsive{
    flex-direction: row !important;
}

.flex-column{
    flex-direction: column;
    gap: 1rem;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-end{
    justify-content: end;
}

.justify-center{
    justify-content: center;
}

.space-bt{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.txt-center{
    text-align: center;
}

.no-margin{
    margin: 0;
}

/* Figuras */
.rombo{
    width: 5rem;
    height: 5rem;
    transform: rotate(45deg);
}

/* Clases para javascript */
.hide{
    display:none;
}

.show{
    display: block;
}

.overflow{
    overflow: hidden;
}

/* Estilos del modal */
.modal{
    /* display: none; */
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    /* margin: 0 2rem; */
    border-radius: 1rem;
    background-color: gainsboro;
    z-index: 110000;
    animation: fromTop .5s ease-in-out;
}

.modal-header{
    background-color: #2D3250;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.modal-input{
    background-color: gainsboro;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1rem 1rem;
}

/* Estilos del visualizador de paleta actual */
.firstColor, .secondaryColor, .tertiaryColor, .fontColor{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    border: 1px solid black;
}

/* Estilo del ejemplo 1 */
.content-main{
    position: relative;
    height: 30rem;
}

.content-background{
    position: absolute;
    z-index: 1;
    height: 32%;
    width: 100%;
    top: 0;
}

.content-background.content-full{
    height: 100%;
    width: 100%;
}

@media (min-width: 768px){
    .content-background{
        right: 0;
        height: 100%;
        width: 32.9%;
    }
}

.content-information{
    position: absolute;
    z-index: 2;
}

.content-image{
    display: none;
}

@media (min-width: 768px){
    .content-image{
        display: flex;
    }
}